<div class="title-header">

  <h3 class="float-left titulo">Editar habitación {{this.habitacion.id}}</h3>
</div>

<div class="container col-md-6">

  <div class="botones">
    <button (click)="Volver()" class="btn exit float-right"><i class="fas fa-arrow-left"></i></button>
  </div>

    <div class="card">
      <div class="card-header form-header">
      </div>
      <div class="card-body form-body">
  
          <form [formGroup]="formEditHabitacion" class="form">

            <div class="form-group text-justify" style="display: flex; flex-direction: column; align-items: stretch;">

              <!-- id -->
            <div class="nombre_field ml-5 mt-3">
              
              <label for="id">Id</label>
              <input type="text" class="form-control-sm col-1" formControlName="id" style="margin-left: 27%;" readonly="readonly" value="{{this.habitacion.id}}">

            </div>
            
              
              <!-- id -->
            <div class="nombre_field ml-5 mt-3">
              
              <label for="tipohabitacion">Tipo de habitacion</label>
              <select name="miselect" formControlName="tipohabitacion" style="margin-left: 5%;" class="form-control-sm col-3">
                  <option value="{{item.id}}" *ngFor="let item of lista">{{item.nombre}}</option>
                  </select>

                  
                </div>
                
            <div class="btn-reservar mt-3" style="display: flex; justify-content: flex-end;">
  
                  <button (click)="activarComponente()" class="btn guardar">Guardar registro</button>
  
            </div>

          </div>
        </form>

    </div>

    
  </div>

     
  </div>