<div class="container col-md-5">

  <h3 class="titulo">Editar Habitacion</h3>

    <div class="card form-card">
      <div class="card-header form-header">
      </div>
      <div class="card-body form-body">
  
          <form [formGroup]="formEditHabitacion" class="form">

            <div class="form-group text-justify">

              <label for="id" class="m-1 ml-5">Id habitación</label>
              <input type="text" class="form-control-sm ml-5 col-3" formControlName="id" readonly="readonly" value="{{this.habitacion.id}}" placeholder="{{this.habitacion.id}}">
            </div>

            <div class="form-group text-justify">
    
              <label for="tipohabitacion" class="m-1 ml-5">Tipo de habitacion</label>
              <select name="miselect" formControlName="tipohabitacion" class="form-control-sm ml-1">
                  <option value="{{item.id}}" *ngFor="let item of lista">{{item.nombre}}</option>
                  </select>

          </div>
        </form>

    </div>

    <div class="card-footer form-footer">
      <button (click)="activarComponente()" class="btn btn-primary float-right m-1 guardar"><i class="fas fa-save"></i></button>
      <button (click)="Volver()" class="btn btn-danger float-right m-1 volver"><i class="fas fa-arrow-alt-left"></i></button>
    </div>

    
  </div>

     
  </div>