<div class="title-header">

    <h3 class="float-left titulo">Crear tipo de habitación</h3>
  </div>
  
  <div class="container col-md-7">
  
    <div class="botones">
      <button (click)="Volver()" class="btn exit float-right"><i class="fas fa-arrow-left"></i></button>
    </div>
  
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
  
        <form [formGroup]="formCreateTipohabitacion" class="form">
          <div class="form-group" style="display: flex; flex-direction: column; align-items: stretch;">  
  
            <!-- nombre -->
            <div class="ml-5 mt-3 nombre_field">
  
              <label for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" name="nombre" class="form-control-sm col-3" autocomplete="off"
                required="required" pattern="^[A-ZÁÉÍÓÚÜÑ]([a-záéíóúüñ]+)*$" minlength="4" maxlength="13" style="margin-left: 15.5%;"/>

                <div class="validaciones" *ngIf="formCreateTipohabitacion.get('nombre')?.errors && formCreateTipohabitacion.get('nombre')?.dirty">
                  <p *ngIf="formCreateTipohabitacion.get('nombre')?.hasError('required')">Este campo es obligatorio</p>
                  <p *ngIf="formCreateTipohabitacion.get('nombre')?.hasError('pattern')">Solo caracteres alfabéticos y primera letra en mayúscula</p>
                  <p *ngIf="formCreateTipohabitacion.get('nombre')?.hasError('minlength')">Mínimo 4 caracteres</p>
                  <p *ngIf="formCreateTipohabitacion.get('nombre')?.hasError('maxlength')">Máximo 13 caracteres</p>
                </div>
  
            </div>
  
            <!-- numero camas -->
            <div class="ml-5 mt-3 numero_camas_field">
  
              <label for="numero_camas">Numero de camas</label>
              <input type="number" formControlName="numero_camas" name="numero_camas" class="form-control-sm col-1"
                required="required" style="margin-left: 5%;" pattern="^[0-9]{1}$" autocomplete="off"/>

                <div class="validaciones" *ngIf="formCreateTipohabitacion.get('numero_camas')?.errors && formCreateTipohabitacion.get('numero_camas')?.dirty">
                  <p *ngIf="formCreateTipohabitacion.get('numero_camas')?.hasError('required')">Este campo es obligatorio</p>
                  <p *ngIf="formCreateTipohabitacion.get('numero_camas')?.hasError('pattern')">Máximo 1 caracter</p>
                </div>
  
            </div>
  
             <!-- descripcion -->
             <div class="ml-5 mt-3 descripcion_field">
  
                <label for="descripcion">Descripcion</label>
                <textarea formControlName="descripcion" name="descripcion" cols="30" rows="3" maxlength="380" autocomplete="off"  required="required" style="margin-left: 10.7%;"></textarea>

                <div class="validaciones" *ngIf="formCreateTipohabitacion.get('descripcion')?.errors && formCreateTipohabitacion.get('descripcion')?.dirty">
                  <p *ngIf="formCreateTipohabitacion.get('descripcion')?.hasError('required')">Este campo es obligatorio</p>
                  <p *ngIf="formCreateTipohabitacion.get('descripcion')?.hasError('maxlength')">Máximo 380 caracteres</p>
                </div>
  
              </div>
  
              <!-- precio -->
             <div class="ml-5 mt-3 precio_field">
  
                <label for="precio">Precio</label>
                <input type="text" class="form-control-sm col-2" autocomplete="off" pattern="^([0-9]{1,4})+(,([0-9]{1,2}))?$" formControlName="precio" name="precio" required="required" style="margin-left: 16.7%;"/>

                <div class="validaciones" *ngIf="formCreateTipohabitacion.get('precio')?.errors && formCreateTipohabitacion.get('precio')?.dirty">
                  <p *ngIf="formCreateTipohabitacion.get('precio')?.hasError('required')">Este campo es obligatorio</p>
                  <p *ngIf="formCreateTipohabitacion.get('precio')?.hasError('pattern')">Solo valores numéricos: 4 enteros y 2 decimales máximo</p>
                </div>
  
              </div>
  
              <div class="btn-reservar mt-3" style="display: flex; justify-content: flex-end;">
  
                  <button (click)="activarComponente()" class="btn guardar">Guardar registro</button>
  
              </div>
        </div>
      </form>
    </div>
  </div>
    
  </div>