.container {
  z-index: 9999;
  width: 100%;
  height: 485px;
  text-align: center;
  margin: 3% auto;
  overflow: scroll;
  text-transform: uppercase;
}

.container::-webkit-scrollbar {
  display: none;
}

.container .title-header {
  margin-bottom: 74px;
}

.container .title-header .create {
  width: 30px;
  height: 30px;
  padding: 0.1em;
  margin-top: 15px;
  border: 3px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
}

.container .title-header .create:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.container .title-header .exit {
  width: 30px;
  height: 30px;
  padding: 0.1em;
  margin-top: 15px;
  border: 3px solid indianred;
  background-color: white;
  color: indianred;
  font-weight: bold;
}

.container .title-header .exit:hover {
  background-color: indianred;
  color: white;
  cursor: pointer;
}

.container .title-header .titulo {
  font-size: 50px;
  font-weight: bolder;
  color: white;
}

.container .paginacion {
  width: 100%;
  height: 55px;
  padding: 0.5em;
  margin-bottom: 0px;
  font-weight: 300;
}

.container .paginacion table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 31px;
  border-collapse: separate;
}

.container .paginacion table tr td {
  cursor: pointer;
  background-color: #434750;
  color: whitesmoke;
  width: 180px;
  height: 31px;
}

.container .paginar {
  width: 100%;
  padding: 0.5em;
}

.container .paginar i {
  font-size: 20px;
}

.container .paginar a {
  font-size: 15.6px;
}

.container .paginar i, .container .paginar a {
  padding: 0.4em;
  background-color: #434750;
  color: whitesmoke;
}

.container .paginar .rewind {
  margin-right: -7px;
}

.container .paginar .forward {
  margin-left: -7px;
}

.container .card {
  width: 100%;
  height: 300px;
  font-weight: bolder;
  margin-bottom: 0px;
  border-radius: 0px;
  border-width: 0px;
}

.container .card .card-header {
  height: 50px;
}

.container .card .card-body {
  vertical-align: middle;
}

.container .card .card-body table thead th {
  vertical-align: middle;
}

.container .card .card-body table tbody tr {
  vertical-align: middle;
}

.container .card .card-footer .view, .container .card .card-footer .edit, .container .card .card-footer .delete1 {
  width: 30px;
  height: 30px;
  padding: 0.1em;
  margin-top: 0px;
  border-width: 3px;
  border-style: solid;
}

.container .card .card-footer .view {
  border-color: #5DADE2;
  background-color: white;
  color: #5DADE2;
}

.container .card .card-footer .view:hover {
  border-color: #5DADE2;
  background-color: #5DADE2;
  color: white;
  cursor: pointer;
}

.container .card .card-footer .edit {
  border-color: #ffc229;
  background-color: white;
  color: #ffc229;
}

.container .card .card-footer .edit:hover {
  border-color: #ffc229;
  background-color: #ffc229;
  color: white;
  cursor: pointer;
}

.container .card .card-footer .delete1 {
  border-color: IndianRed;
  background-color: white;
  color: IndianRed;
}

.container .card .card-footer .delete1:hover {
  background-color: IndianRed;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=page.component.css.map */