<div class="title-header">

    <h3 class="titulo">Reserva del {{this.reserva.fecha_llegada | date: 'dd/MM/yyyy'}} al {{this.reserva.fecha_final | date: 'dd/MM/yyyy'}}</h3>
    
</div>

<div class="container col-md-8">

    <div class="volver">
        
        <button (click)="Volver()" class="btn exit float-right m-1"><i class="fas fa-arrow-left"></i></button>
    </div>
    
    <div class="card">
        
        <div class="card-header">
        
            

        </div>

    <div class="card-body">
        <table class="table">
                <tr class="text-center">
                    <td>ID</td>
                    <td>{{reserva.id}}</td>
                    
                </tr>
                <tr>
                    <td>USUARIO</td>
                    <td>{{reserva.usuario.nombre}}, {{reserva.usuario.apellidos}}</td>
                    
                </tr>
                <tr>
                    <td>PENSIÓN</td>
                    <td>{{reserva.pension.tipo}}</td>
                    
                </tr>
                <tr>
                    <td>HABITACIÓN</td>
                    <td>{{reserva.habitacion.tipohabitacion.nombre}}</td>
                    
                </tr>
                <tr>
                    <td>CAMA SUPLETORIA</td>
                    <td><span *ngIf="this.reserva.cama_supletoria == true">Sí</span><span *ngIf="this.reserva.cama_supletoria == false">No</span></td>
                </tr>
                <tr>
                    <td>FECHA LLEGADA</td>
                    <td>{{this.reserva.fecha_llegada | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <td>FECHA FINAL</td>
                    <td>{{this.reserva.fecha_final | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <td>PRECIO FINAL</td>
                    <td>{{this.reserva.precio_final}}</td>
                </tr>
        </table>
    </div>
    <div class="card-footer">

        <button (click)="descargarPDF()" class="btn float-right m-1 pdf">Descargar PDF</button>
        <button (click)="Editar(this.reserva)"class="btn float-right edit m-1" *ngIf="esAdministrador()"><i class="fas fa-edit"></i></button>

    </div>
</div>
</div>