<div class="container">

    <div class="card">

        <div class="card-header">
            <h3>Pension:</h3>
        </div>

        <div class="card-body">
            <table class="table">
                <tr class="text-center">
                    <td>Id tipousuario:</td>
                    <td>{{tipousuario.id}}</td>                        
                </tr>
                <tr class="text-center">
                    <td>Nombre del tipo:</td>
                    <td>{{tipousuario.nombre}}</td>                        
                </tr>
                <tr>
                    <td><button (click)="Volver()" class="btn btn-danger">Volver</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>