.container{

    width: 100%;
    height: 485px;
    margin: 3% auto;
    overflow: scroll;
    z-index: 999;
    text-transform: uppercase;
    &::-webkit-scrollbar{
        display: none;
    }

    .guardar, .volver{

        width: 30px;
        height: 28px;
        padding: 0.1em 0em 0.1em 0em;
        margin-top: 0px;
        border-width: 2px;
        border-style: solid;

        

    }

    .guardar{


        border-color: #5DADE2 ;
        background-color: white;
        color: #5DADE2;


        &:hover{

            border-color: #5DADE2 ;
            background-color: #5DADE2;
            color: white;
            cursor: pointer;
        }

    }

    .volver{

        border-color: IndianRed ;
        background-color: white;
        color: IndianRed;

        &:hover{

            border-color: IndianRed ;
            background-color: IndianRed;
            color: white;
            cursor: pointer;
        }

    }

    
        .titulo{

            font-size: 50px; 
            font-weight: bolder;
            color: white;
            
        }

    

    .form-card{

        width: 100%;
        height: 250px;        
        font-weight: bolder;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);

       .form-header{
        border-radius: 5px;
        height: 50px;
        
        
        
       }

       .form-body{

        vertical-align: middle;
        
       }
        
    }

    .alert-message{

        width: 100%;
        height: 200px;        
        font-weight: bolder;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
        border: 2px solid rgb(255, 194, 41);

        margin-top: -227px;
        margin-left: 58px;

        z-index: 1;

       .alert-header{
        text-align: center;
        height: 50px;
        border: 2px solid rgb(255, 194, 41);
        
        
       }

       .alert-body{

        vertical-align: middle;
        text-align: center;

        border: 2px solid rgb(255, 194, 41);
        
        
       }

       .alert-footer{

        border: 2px solid rgb(255, 194, 41);

       }
        
    }

    .aceptar, .cancelar{

        width: 83px;
        height: 23px;
        padding: 0%;
        margin-top: 0px;
        border-width: 2px;
        border-style: solid;
        font-weight: bold;
        text-transform: uppercase;

        

    }

    .aceptar{

        border-color: #5DADE2 ;
        background-color: white;
        color: #5DADE2 ;

        &:hover{

            background-color: #5DADE2 ;
            color: white;
            cursor: pointer;
        }
    }

    .cancelar{

        border-color: IndianRed;
        background-color: white;
        color: IndianRed;

        &:hover{

            background-color: IndianRed;
            color: white;
            cursor: pointer;
        }
    }

}