<div class="title-header">

  <h3 class="float-left titulo">Reserva del {{this.reserva.fecha_llegada | date: 'dd/MM/yyyy'}} al {{this.reserva.fecha_final | date: 'dd/MM/yyyy'}}</h3>
</div>

<div class="container col-md-8">

  <div class="botones">
    <button (click)="Volver()" class="btn exit float-right"><i class="fas fa-arrow-left"></i></button>
  </div>

    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
  
        <form [formGroup]="formEditReserva" class="form">


          <!-- reserva -->
          <div class="form-group" style="display: flex; flex-direction: column; align-items: stretch;">

            <div class="id_field ml-5 mt-3">

              <label for="id">Id reserva</label>
              <input type="text" class="form-control-sm col-1" autocomplete="off" formControlName="id" name="id" readonly="readonly" value="{{this.reserva.id}}" style="margin-left: 8%;"/>

            </div>

          <!-- usuario --> 
          <div class="nombre_field ml-5 mt-3">

            <label for="usuario">Usuario</label>
            <input class="form-control-sm col-1" type="usuario" formControlName="usuario" name="usuario" id="usuario" value="{{this.reserva.usuario.id}}"
            required="required" style="margin-left: 10.7%;"/>


          </div>
    
          <!-- pension -->
          <div class="pension_field" class="ml-5 mt-3">
            <label for="pension">Pension</label>
            <select name="pension" class="form-control-sm col-3" formControlName="pension" style="margin-left: 10.5%;">
              <option value="{{item.id}}" *ngFor="let item of pensiones">{{item.tipo}} - {{item.precio}}€</option>
            </select>

            <div class="validaciones" *ngIf="this.formEditReserva.get('pension')?.errors && this.formEditReserva.get('pension')?.dirty">
              <p *ngIf="this.formEditReserva.get('pension')?.hasError('required')">Este campo es obligatorio</p>
            </div>
          </div>

          <!-- habitacion -->
          <div class="habitacion_field ml-5 mt-3">

            <label for="habitacion">Habitacion</label>
            <select name="habitacion" class="form-control-sm col-3" formControlName="habitacion" style="margin-left: 8.2%;">
              <option value="{{item.id}}" *ngFor="let item of habitaciones">{{item.nombre}} - {{item.precio}}€</option>
            </select>

            <div class="validaciones" *ngIf="this.formEditReserva.get('habitacion')?.errors && this.formEditReserva.get('habitacion')?.dirty">
              <p *ngIf="this.formEditReserva.get('habitacion')?.hasError('required')">Este campo es obligatorio</p>
            </div>


            <!-- cama_supletoria -->
              <label for="cama_supletoria" style="margin-left: 10%;">Cama supletoria (+5€)</label> 
              <input type="checkbox" name="cama_supletoria" class="ml-2 mr-5" 
               formControlName="cama_supletoria" id="cama_supletoria"  [(ngModel)]="this.reserva.cama_supletoria">
            
            </div>
    
          <!-- llegada -->
          <div class="fecha_field ml-5 mt-3">

            <label for="fecha_llegada">Fecha llegada</label>
            <input
              type="date" formControlName="fecha_llegada" name="fecha_llegada" class="form-control-sm col-3"
              id="fecha_llegada" [(ngModel)]="this.reserva.fecha_llegada" required="required" style="margin-left: 5.2%;"/>
              
              <div class="validaciones" *ngIf="this.formEditReserva.get('fecha_llegada')?.errors && this.formEditReserva.get('fecha_llegada')?.dirty">
                <p *ngIf="this.formEditReserva.get('fecha_llegada')?.hasError('required')">Este campo es obligatorio</p>
              </div>

          

            <!-- vuelta -->
            <label for="fecha_final" style="margin-left: 10%;">Fecha final</label>
            <input type="date" formControlName="fecha_final" name="fecha_final" class="form-control-sm col-3"
              id="fecha_final" [(ngModel)]="this.reserva.fecha_final" required="required" style="margin-left: 3.5%;"/>

              <div class="validaciones" *ngIf="this.formEditReserva.get('fecha_final')?.errors && this.formEditReserva.get('fecha_final')?.dirty">
                <p *ngIf="this.formEditReserva.get('fecha_final')?.hasError('required')">Este campo es obligatorio</p>
              </div>

            </div>
    

          <!-- precio_final -->
            <div class="precio_final_field ml-5 mt-3" style="display: flex; justify-content: flex-end; visibility: hidden;">

              <label for="precio_final" style="margin-right: 2.6%;">Precio final</label>
              <input type="number" formControlName="precio_final" name="precio_final" class="form-control-sm col-2"
                id="precio_final" value="{{this.reserva.precio_final}}" readonly="readonly" required="required" style="margin-right: 16.5%;"/>

            </div>
          
          <div class="btn-reservar mt-3" style="display: flex; justify-content: flex-end;">
                
            <button (click)="activarComponente()" class="btn btn-primary reservar col-3">Reservar</button>

          </div>
  
        </div>
        </form>
  
      </div>
    </div>
      
    </div>