<div class="container col-md-6">

  <div class="card">
    <div class="card-header">
      <h3>Editar Usuario:</h3>
    </div>
    <div class="card-body">

      <form [formGroup]="formEditUsuario" class="form" (ngSubmit)="EditUsuario()">
        <div class="form-group">  
        
          <fieldset>
          <legend>Datos personales:</legend>
  
        <!-- nombre -->
        <label for="nombre">Nombre:</label>
        <input type="nombre" formControlName="nombre" name="nombre" id="nombre" 
        placeholder="Introduzca su nombre aquí" required="required"/><br>
  
        <!-- apellidos -->
        <label for="apellidos">Apellidos:</label>
        <input type="apellidos" formControlName="apellidos" name="apellidos"
          id="apellidos" placeholder="Ahora sus apellidos" required="required"/><br>
  
        <!-- dni -->
        <label for="dni">DNI:</label>
        <input type="dni" formControlName="dni" name="dni"
          id="dni" placeholder="Luego un DNI" required="required"/><br>
  
        <!-- genero -->
        <label for="male">Masculino</label>
        <input type="radio" formControlName="sexo" name="sexo"
          value="M" id="male" required="required"/>

        <label for="female">Femenino</label>
        <input type="radio" formControlName="sexo" name="sexo"
          value="F" id="female" required="required"/><br>
  
        <!-- email -->
        <label for="email">Email:</label>
        <input
          type="email" formControlName="email" name="email"
          id="email" placeholder="Introduzca su email" required="required"/><br>
  
        <!-- localidad -->
        <label for="localidad">Localidad</label>
        <input type="text" formControlName="localidad" name="localidad"
          id="localidad" placeholder="De donde eres?" required="required"/><br>
  
        <!-- ttelefono -->
        <label for="telefono">Telefono</label>
        <input type="text" formControlName="telefono" name="telefono"
          id="telefono" placeholder="Un número de contacto..." required="required"/><br>
  
        <!-- edad -->
        <label for="edad">Edad</label>
        <input type="text" formControlName="edad" name="edad"
          id="edad" placeholder="Tu edad" required="required"/><br>
  
      </fieldset>
  
      <fieldset>
          <legend>Usuario:</legend>
  
          <label for="nombreusuario">Nombre usuario</label>
          <input type="text" formControlName="nombreusuario" name="nombreusuario"
          id="nombreusuario" placeholder="nombreusuario" required="required"/><br>
  
        <label for="password">Password</label>
        <input type="text" formControlName="password" name="password"
          id="passowrd" placeholder="password" required="required"/><br>
  
      </fieldset>
        
        <button type="submit" class="btn btn-primary">Guardar cambios</button>

      </div>
      </form>

    </div>
  </div>
    
  </div>