<div class="container col-md-9">

  <div class="card">
    <div class="card-header">
      <h3 class="float-left">REGISTRARSE</h3>
      <button (click)="Volver()" class="btn btn-light float-right">x</button>
    </div>
    <div class="card-body">

      <form [formGroup]="formCreateUser" class="form" (ngSubmit)="register()">
        <fieldset>
          <legend>DATOS PERSONALES</legend>
        
        <div class="form-group" style="display: flex; justify-content: space-around; align-content: center;">  
  
        <!-- nombre -->
        <label class="ml-4 mr-3" for="nombre">NOMBRE</label>
          <input type="nombre" formControlName="nombre" name="nombre" id="nombre" class="form-control-sm col-3" required="required" value="{{this.usuario.nombre}}"/>
        
  
        <!-- apellidos -->
          <label class="ml-4 mr-3" for="apellidos">APELLIDOS</label>
          <input type="apellidos" formControlName="apellidos" name="apellidos"
            id="apellidos" class=" form-control-sm col-3" required="required" value="{{this.usuario.apellidos}}"/>
            
            
          </div>
          
          <div class="form-group" style="display: flex; justify-content: center; align-content: center;">
            
            <!-- dni -->
            <label class="ml-4 mr-3" for="dni" style="position: relative; right: 107px;">DNI</label>
            <input type="dni" formControlName="dni" name="dni"
            id="dni" class="form-control-sm col-3" required="required" value="{{this.usuario.dni}}"/>
          
          <!-- genero -->
          <label class="ml-5" for="male">HOMBRE</label>
          <input type="radio" formControlName="sexo" name="sexo"
          value="M" class="ml-3"  id="male" required="required"/>
          
          <label class="ml-4" for="female">MUJER</label>
          <input type="radio" formControlName="sexo" name="sexo"
          value="F" class="ml-3"  id="female" required="required"/>
        
          <!-- edad -->
            <label class="ml-4 mr-3" for="edad">EDAD</label>
            <input type="text" formControlName="edad" name="edad"
              id="edad" class="form-control-sm col-1 ml-2"  required="required" value="{{this.usuario.edad}}"/>

        </div>
          
        <div class="form-group" style="display: flex; justify-content: space-evenly; align-items: center;">

          <!-- email -->
          <label class="ml-4 mr-4" for="email">EMAIL</label>
            <input
              type="email" formControlName="email" name="email"
              id="email" class="form-control-sm col-4 ml-5" required="required" value="{{this.usuario.email}}"/>
    
            <!-- ttelefono -->
              <label class="ml-4" for="telefono">TELEFONO</label>
              <input type="text" formControlName="telefono" name="telefono"
                id="telefono" class="form-control-sm col-3" required="required" value="{{this.usuario.telefono}}"/>

        </div>
  

            <div class="form-group" style="display: flex; justify-content: space-evenly; align-items: center;">
              
              <!-- localidad -->
                <label class="ml-2 mr-3" for="localidad">LOCALIDAD</label>
                <input type="text" formControlName="localidad" name="localidad"
                  id="localidad" class="form-control-sm col-3" required="required" value="{{this.usuario.localidad}}"/>
      
              <!-- nacionalidad -->
                <label class="ml-4" for="nacionalidad">NACIONALIDAD</label>
                <input type="text" formControlName="nacionalidad" name="nacionalidad"
                  id="nacionalidad" class="form-control-sm col-3" required="required" value="{{this.usuario.nacionalidad}}"/>

            </div>
  
      </fieldset>
  
      <fieldset>
          <legend>USUARIO</legend>

          <div class="form-group" style="display: flex; justify-content: space-evenly; align-items: center;">
  
            <label class="ml-4" for="nombreusuario">NOMBRE DE USUARIO</label>
            <input type="text" formControlName="nombreusuario" name="nombreusuario"
            id="nombreusuario" class="form-control-sm col-3" required="required" value="{{this.usuario.nombreusuario}}"/> 
  
            <label class="ml-4" for="password">CONTRASEÑA</label>
            <input type="text" formControlName="password" name="password"
              id="password" class="form-control-sm col-3" required="required" value="{{this.usuario.password}}"/>

      </div>
  
      </fieldset>
        
        <button class="btn btn-primary float-right">FINALIZAR</button>
      </form>

    </div>
  </div>
    
  </div>