<div class="title-header">

    <h3 class="titulo">Habitación {{this.habitacion.id}}</h3>
    
</div>

<div class="container col-md-6">
    
    <div class="botones">
        
        <button (click)="Volver()" class="btn exit float-right"><i class="fas fa-arrow-left"></i></button>

    </div>
    <div class="card">

        <div class="card-header">
        </div>

        <div class="card-body">
            <table class="table">
               <tr class="center">  
                    <th>TIPO DE HABITACIÓN</th> 
                    <td>{{this.habitacion.tipohabitacion.nombre}}</td>                       
                </tr>
                <tr class="center">  
                    <th>DESCRIPCIÓN</th> 
                    <td>{{this.habitacion.tipohabitacion.descripcion}}</td>                       
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <button (click)="descargarPDF()" class="btn float-right m-1 pdf">Descargar PDF</button>
            <button (click)="EditHabitacion(this.habitacion)" class="btn float-right m-1 edit"><i class="fas fa-edit"></i></button>
        </div>
    </div>
    
</div>