<div class="container">

    <div class="card">

        <div class="card-header">
            <h3>Tu información personal:</h3>
        </div>

        <div class="card-body">
            <table class="table">
                <tr class="text-center">
                    <td>Tipo de habitación:</td>
                    <td>{{habitacion.id_tipohabitacion}}</td>                        
                </tr>
                <tr>
                    <td><button (click)="EditHabitacion(habitacion)" class="btn">Editar Informacion</button></td>
                    <!-- Boton de volver -->
                </tr>
            </table>
        </div>
    </div>
</div>