<div class="container col-md-6">

  <div class="card form-card">
    <div class="card-header form-header">
      <h3 class="float-left">CREAR HABITACIÓN</h3>
      <button (click)="Volver()" class="btn btn-light float-right">x</button>
    </div>
    <div class="card-body form-body">

      <form [formGroup]="formCreateHabitacion" class="form">
        <div class="form-group text-justify">

          <label for="tipohabitacion" class="m-1 ml-5">Tipo de habitacion</label>
          <select name="miselect" formControlName="tipohabitacion" class="form-control-sm ml-1" >
            <option value="{{item.id}}" *ngFor="let item of lista">{{item.nombre}}</option>
          </select>

        <button (click)="createHabitacion()" type="btn btn-primary" class="btn btn-primary float-right m-1">GUARDAR</button>
      </div>
    </form>
  </div>
</div>
  
</div>