<div class="title-header">

  <h3 class="float-left titulo">Crear habitación</h3>
</div>

<div class="container col-md-6">

  <div class="botones">
    <button (click)="Volver()" class="btn exit float-right"><i class="fas fa-arrow-left"></i></button>
  </div>

  <div class="card form-card">
    <div class="card-header form-header">
    </div>
    <div class="card-body form-body">

      <form [formGroup]="formCreateHabitacion" class="form">
        <div class="form-group text-justify" style="display: flex; flex-direction: column; align-items: stretch;">

          <div class="ml-5 mt-3 tipohabitacion_field">

            <label for="tipohabitacion">Tipo de habitacion</label>
            <select name="miselect" formControlName="tipohabitacion" style="margin-left: 10%;" class="form-control-sm" >
              <option value="{{item.id}}" *ngFor="let item of lista">{{item.nombre}}</option>
            </select>

            <div class="validaciones" *ngIf="formCreateHabitacion.get('tipohabitacion')?.errors && formCreateHabitacion.get('tipohabitacion')?.dirty">
              <p *ngIf="formCreateHabitacion.get('tipohabitacion')?.hasError('required')">Este campo es obligatorio</p>
            </div>

          </div>

          <div class="btn-reservar mt-3" style="display: flex; justify-content: flex-end;">

            <button (click)="createHabitacion()" [disabled]="formCreateHabitacion.invalid" class="btn guardar">Guardar registro</button>
      
          </div>
        </div>
    </form>
  </div>
</div>
  
</div>