<div class="header fixed-top">

  <nav class="menu">

    <label for="menu-toggle">
 
       <div class="botonMenu">
 
          <span></span>
 
          <span></span>
 
          <span></span>
 
       </div>
 
    </label>

    <input type="checkbox" id="menu-toggle" [(ngModel)]="isMasterSel" />

    <ul id="trickMenu">
 
       <li><a (click)="Habitacion();checkUncheck();"> HABITACIONES </a></li>
 
       <li><a (click)="Pension();checkUncheck();"> PENSIONES </a></li>
 
       <li><a (click)="Reservas();checkUncheck();"> RESERVAS </a></li>

       <li><a (click)="Usuarios();checkUncheck();"> USUARIOS </a></li>
 
    </ul>
 
    
  </nav>
  
  <div class="botones fixed-top">
    <div (click)="Login()" class="btn sesion m-1">INICIAR SESIÓN</div>
    <div class="separador"></div>
    <div (click)="Register()" class="btn registrarse m-1">REGISTRARSE</div>
  </div>
</div>
  
<router-outlet></router-outlet>


<div class="text-center p-3 fixed-bottom bg-light">
  © 2020 Copyright:
  <a class="text-dark" href="https://mdbootstrap.com/">GiraSOL.com</a>
</div>
