.header{

  width: 100%;
  z-index: 9999;


  .home{

    position: absolute;
    width: 20%;
    left: 1%;
    margin-top: 1%;

    img{

      width: 50%;
      -webkit-animation:spin 31s linear infinite;
      -moz-animation:spin 31s linear infinite;
      animation:spin 31s linear infinite;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  }

  .sesion{

    position: absolute;
    z-index:99999;
    right: 5%;
    top: 10px;
    color: #66403b;

    .perfil{

      background: radial-gradient(#e8edec, #83a0a9);
      border-radius: 8px;
      padding: 0.3em 0.7em;
      font-weight: 600;
      font-size: 18px;
    }
  }

  
    .main_menu{

    position: absolute;
    left: 83%;
    width: 20%;

      .menu{

        width: 100%;

        label{

          position: absolute;
          right: 0%;
          top: 2%;
          width: 50%;
          height: 46px;
          display: flex;
          justify-content: center;
        
            .botonMenu{

              z-index: 9999;
      
                  span{
      
                    display: block;
                    width: 40px;
                    height: 4px;
                    background: #66403b;
                    margin-top: 7px;
                    transition: all 500ms ease-in-out;
      
                  }
                }
              }


          #menu-toggle{
            display: none;

            &:checked + .menu_content{
            
            right: 0px;
            transition: 0.5s ease-in-out;
              
            }
          }

          .menu_content{

          position: absolute;
          background: #ffff;
          right: -100%;
          transition: 0.3s;
          width: 100%;
          height: 100vh;
          top: 8%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          transition: 0.5s ease-in-out;
          

          #trickMenu{

            list-style: none;
            padding: 0;

            .tipoHabitaciones{

              position: absolute;
              z-index: -1;
              top: 17.2%;
              right: -50%;
              width: 88%;
              background: white;
              transition: all 0.7s ease-in-out;
            }

            .tipoUsuarios{

              position: absolute;
              z-index: -1;
              bottom: 19.4%;
              right: -50%;
              width: 77%;
              background: white;
              transition: all 0.7s ease-in-out;
            }

            .habitaciones:hover + .tipoHabitaciones{

              right: 100%!important;
              transition: all 0.7s ease-in-out;
            }

            .tipoHabitaciones:hover{

              right: 100%!important;
              background-color: #f4c9b9!important;
              transition: background-color 0.7s ease-in-out;

            }

            .usuarios:hover + .tipoUsuarios{

              right: 100%!important;
              transition: all 0.7s ease-in-out;
            }

            .tipoUsuarios:hover{

              right: 100%!important;
              background-color: #f4c9b9!important;
              transition: background-color 0.7s ease-in-out;

            }

            .iniciar_sesion{

              background-color: #007bff40;

              &:hover{
                
                background-color: #007bff80!important;
                transition: background-color 0.3s ease-in-out;
                
              }
            }

            .registro{

              background-color: #f7b8a0c9;

              &:hover{
                
                background-color: #f7b8a0!important;
                transition: background-color 0.3s ease-in-out;
                
              }
            }

            li{
      
              padding: 12% 15%;
              border-bottom: 1px solid #6d403e;


              &:hover{
                
                background-color: #6d403e7a;
                transition: background-color 0.3s ease-in-out;
                cursor: pointer;
                
              }

              a{

                display: block;
                font-weight: 600;         
                padding: 0.5em 0em 0.1em 0em;
                color: black;                

              }

              
            }
          } 
        }
      }
    }
  }


 .fixed-bottom{
     position: absolute;
     font-weight: bolder;
     opacity: 0.3;
     z-index: 999;
 }