<div class="header fixed-top">

  <a class="home" (click)="home();checkUncheck();"> <img src="../assets/home_icon.png" alt="home"> </a>

  <div class="sesion" *ngIf="recuperarIdUsuario() != null">

    <p>Has iniciado sesión como: <a class="perfil" (click)="ViewUser();checkUncheck();">{{mostrarUsuario()}}</a></p>

  </div>

  <div class="main_menu">

    <nav class="menu">
  
      <label for="menu-toggle">
   
         <div class="botonMenu">
   
            <span></span>
   
            <span></span>
   
            <span></span>
   
         </div>
   
      </label>
  
      <input type="checkbox" id="menu-toggle" [(ngModel)]="isMasterSel" />
  
      <div class="menu_content">
  
        <ul id="trickMenu">
     
           <li><a (click)="Habitacion();checkUncheck();"> HABITACIONES </a></li>
     
           <li><a (click)="Pension();checkUncheck();"> PENSIONES </a></li>
     
           <li><a (click)="Reservas();checkUncheck();"> RESERVAS </a></li>
    
           <li><a (click)="Usuarios();checkUncheck();"> USUARIOS </a></li>
  
           <li class="iniciar_sesion"><a (click)="Login();checkUncheck();">INICIAR SESIÓN</a></li>

           <li class="registro"><a (click)="Register();checkUncheck();">REGISTRARSE</a></li>
     
        </ul>
  
      </div>
  
   
      
    </nav>

  </div>


</div>
  
<router-outlet></router-outlet>


<div class="text-center p-3 fixed-bottom bg-light">
  © 2020 Copyright:
  <a class="text-dark" href="https://mdbootstrap.com/">GiraSOL.com</a>
</div>
