<div class="title-header">

    <h3 class="titulo">Pensión {{this.pension.tipo}}</h3>
    
</div>

<div class="container col-md-5">

    <div class="botones">
        <button (click)="Volver()" class="btn exit float-right"><i class="fas fa-arrow-alt-left"></i></button>
    </div>

   <div class="card">

        <div class="card-header">
        </div>

        <div class="card-body">
            <table class="table">
                    <tr>
                        <th>Tipo de pension</th>
                        <td>{{this.pension.tipo}}</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{this.pension.descripcion}}</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>{{this.pension.precio}} €</td>
                    </tr>
            </table>
        </div>

        <div class="card-footer">
            <button (click)="descargarPDF()" class="btn float-right m-1 pdf">Descargar PDF</button>
            <button (click)="EditPension(this.pension)" class="btn float-right m-1 edit"><i class="fas fa-edit"></i></button>
        </div>
    </div>
</div>