<div class="title-header">

    <h3 class="titulo">PENSIONES</h3>
    
</div>

<div class="container col-md-7">

    <div class="botones" style="position: block; margin-bottom: 0px;" *ngIf="esAdministrador()">
        <button (click)="Create()" class="btn create float-right m-1"><i class="fas fa-plus"></i></button>
    </div>

    <div class="size">
        <p style="text-align: center; margin-bottom: 0%; font-weight: 600; color: #66403b;">Pensiones a mostrar:</p>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(5)">4</button>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(10)">8</button>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(15)">16</button>
    </div>

    <div class="paginacion">
        <table>
            <tr>
                <td (click)="setOrder('id')">ID</td>
                <td (click)="setOrder('tipohabitacion.nombre')">Nombre</td>
                <td (click)="setOrder('tipohabitacion.precio')">Precio</td>
                <td (click)="sort()"><i class="fas fa-sort"></i></td>
            </tr>
        </table>
    </div>

    <div class="card" *ngFor="let pension of pension">
        

        <div class="card-header">
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>PENSIÓN</th>
                        <th>TIPO DE PENSIÓN</th>
                        <th>DESCRIPCIÓN</th>
                        <th>PRECIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>{{pension.id}}</td>
                        <td>{{pension.tipo}}</td>
                        <td>{{pension.descripcion}}</td>
                        <td>{{pension.precio}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="card-footer">

            <button (click)="View(pension)"class="btn view m-1"><i class="fas fa-eye"></i></button>
            <button (click)="Editar(pension)"class="btn edit m-1" *ngIf="esAdministrador()"><i class="fas fa-edit"></i></button>
            <button (click)="Delete(pension)" class="btn m-1 delete1" *ngIf="esAdministrador()"><i class="fas fa-trash-alt"></i></button>

        </div>
    </div>

    <div class="page_footer">

        <div class="botones" *ngIf="esAdministrador()">
            <button (click)="descargarPDF()" class="btn pdf m-1">Descargar PDF</button>
        </div>

        <div class="paginar">
            <button class="btn btn-sm rewind" (click)="rewind()"><i class="fas fa-angle-double-left fa-2x"></i></button>
    
            <span *ngFor="let p of totalPages; let i = index">
                <a style="cursor: pointer;" (click)="setPage(i)" [ngClass]="{'text-primary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
            </span>
    
            <button class="btn btn-sm forward" (click)="forward()"><i class="fas fa-angle-double-right fa-2x"></i></button>
            
        </div>
        
    </div>
</div>