.container{

    z-index: 99999;
    width: 100%;
    height: 485px;
    text-align: center;
    margin: 3% auto;
    overflow: scroll;
    text-transform: uppercase;
    &::-webkit-scrollbar{
        display: none;
    }

    .titulo{

        font-size: 50px; 
        font-weight: bolder;
        color: white;
        
    }

    .create{

        width: 30px;
        height: 30px;
        padding: 0.1em;
        margin-top: 15px;
        
        border: 3px solid black;
        background-color: white;
        color: black;
        font-weight: bold;

        &:hover{

            background-color: black;
            color: white;
            cursor: pointer;
        }

    }

    .exit{

        width: 30px;
        height: 30px;
        padding: 0.1em;
        margin-top: 15px;
        
        border: 3px solid indianred;
        background-color: white;
        color: indianred;
        font-weight: bold;

        &:hover{

            background-color: indianred;
            color: white;
            cursor: pointer;
        }

    }

    .card{

        width: 100%;
        margin: 78px auto;
        font-weight: bolder;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);

       .card-header{
        color: white;
        border-radius: 5px;
        height: 50px;
        background-image: url(../../../assets/fondo5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -300px;
        
       }

       .card-footer{

        .view, .edit, .delete1{

            width: 30px;
            height: 30px;
            padding: 0.1em;
            margin-top: 0px;
            border-width: 3px;
            border-style: solid;
    
            }
    
            .view{
    
            border-color: #5DADE2 ;
            background-color: white;
            color: #5DADE2;
    
    
            &:hover{
    
                border-color: #5DADE2 ;
                background-color: #5DADE2;
                color: white;
                cursor: pointer;
            }
            }
    
            .edit{
            
            border-color: rgb(255, 194, 41) ;
            background-color: white;
            color: rgb(255, 194, 41);
    
    
            &:hover{
    
                border-color: rgb(255, 194, 41) ;
                background-color: rgb(255, 194, 41);
                color: white;
                cursor: pointer;
            }
            }
    
            .delete1{
    
            border-color: IndianRed;
            background-color: white;
            color: IndianRed;
    
            &:hover{
    
                background-color: IndianRed;
                color: white;
                cursor: pointer;
            }
            }
        }
        
    }
}