<div class="title-header">

  <h3 class="titulo">Crear pensión</h3>
  
</div>

<div class="container col-md-6">
  
  <div class="botones">
    <button (click)="Volver()" class="btn exit float-right"><i class="fas fa-arrow-left"></i></button>
  </div>

  <div class="card form-card">
    <div class="card-header form-header">
      
    </div>
    <div class="card-body form-body">

      <form [formGroup]="formCreatePension" class="form">

        <div class="form-group" style="display: flex; flex-direction: column; align-items: stretch;">

          <div class="nombre_field ml-5 mt-3">

              <label for="tipo">Tipo</label>
              <input type="tipo" class="form-control-sm col-2" autocomplete="off" formControlName="tipo" name="tipo"
                required="required" placeholder="tipo" maxlength="6" style="margin-left: 12.8%;"/>

                <div class="validaciones" *ngIf="formCreatePension.get('tipo')?.errors && formCreatePension.get('tipo')?.dirty">
                  <p *ngIf="formCreatePension.get('tipo')?.hasError('required')">Este campo es obligatorio</p>
                  <p *ngIf="formCreatePension.get('tipo')?.hasError('maxlength')">Aquí van las siglas del tipo</p>
                </div>

          </div>

          <div class="nombre_field ml-5 mt-3">
            
            <label for="descripcion">Descripcion</label>
            <textarea type="descripcion" formControlName="descripcion" name="descripcion"
              placeholder="descripcion" cols="30" rows="3" autocomplete="off" maxlength="280" required="required" style="margin-left: 3%;"></textarea>

            <div class="validaciones" *ngIf="formCreatePension.get('descripcion')?.errors && formCreatePension.get('descripcion')?.dirty">
                  <p *ngIf="formCreatePension.get('descripcion')?.hasError('required')">Este campo es obligatorio</p>
                  <p *ngIf="formCreatePension.get('descripcion')?.hasError('maxlength')">Descripción corta. Máxmimo 280 caracteres</p>
            </div>
          </div>

          <div class="nombre_field ml-5 mt-3">
            
              <label for="precio">Precio</label>
              <input type="precio" class="form-control-sm col-2" formControlName="precio" name="precio"
                placeholder="precio" pattern="^([0-9]{1,4})+(,([0-9]{1,2}))?$" autocomplete="off" required="required" style="margin-left: 10%;"/> €

              <div class="validaciones" *ngIf="formCreatePension.get('precio')?.errors && formCreatePension.get('precio')?.dirty">
                  <p *ngIf="formCreatePension.get('precio')?.hasError('required')">Este campo es obligatorio</p>
                  <p *ngIf="formCreatePension.get('precio')?.hasError('pattern')">Solo valores numéricos: 4 enteros y 2 decimales máximo</p>
              </div>
            </div>

            <div class="btn-reservar mt-3" style="display: flex; justify-content: flex-end;">

              <button (click)="CreatePension()" class="btn guardar">Guardar registro</button>

          </div>

          </div>

        </form>
      </div>

  
</div>
  
</div>