<div class="title-header">

    <h3 class="titulo">USUARIOS</h3>
    
</div>

<div class="container col-md-11">


    <div class="botones" style="position: block; margin-bottom: 0px;">
        <button (click)="Crear()" class="btn create float-right m-1"><i class="fas fa-plus"></i></button>
    </div>

    <div class="size">
        <p style="text-align: center; margin-top: 7%; margin-bottom: 0%; font-weight: 600; color: #66403b;">Usuarios a mostrar:</p>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(5)">4</button>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(10)">8</button>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(15)">16</button>
    </div>


    <div class="paginacion">
        <table>
            <tr>
                <td (click)="setOrder('id')">ID</td>
                <td (click)="setOrder('nombreusuario')">nombreusuario</td>
                <td (click)="setOrder('tipousuario')">tipousuario</td>
                <td (click)="setOrder('nombre')">nombre</td>
                <td (click)="setOrder('apellidos')">apellidos</td>
                <td (click)="setOrder('dni')">dni</td>
                <td (click)="setOrder('sexo')">sexo</td>
                <td (click)="setOrder('email')">email</td>
                <td (click)="setOrder('localidad')">localidad</td>
                <td (click)="setOrder('nacionalidad')">nacionalidad</td>
                <td (click)="setOrder('telefono')">telefono</td>
                <td (click)="sort()"><i class="fas fa-sort"></i></td>
            </tr>
        </table>
    </div>

    <div class="card m-1 mt-5" *ngFor="let usuario of usuario">

        <div class="card-header">
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Id Usuario</th>
                        <th>Nombre de Usuario</th>
                        <th>Tipo de Usuario</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th>Email</th>
                        <th>Localidad</th>
                        <th>Nacionalidad</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombreusuario}}</td>
                        <td>{{usuario.tipousuario.nombre}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellidos}}</td>
                        <td>{{usuario.dni}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>{{usuario.sexo}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.localidad}}</td>
                        <td>{{usuario.nacionalidad}}</td>
                        <td>{{usuario.telefono}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">

            <button (click)="View(usuario)"class="btn view m-1"><i class="fas fa-eye"></i></button>
            <button (click)="Delete(usuario)"class="btn delete1 m-1"><i class="fas fa-trash-alt"></i></button>
                        
        </div>
    </div>

    <div class="page_footer">

        <div class="botones">
            <button (click)="descargarPDF()" class="btn pdf m-1">Descargar PDF</button>
        </div>

        <div class="paginar">
            <button class="btn btn-sm rewind" (click)="rewind()"><i class="fas fa-angle-double-left fa-2x"></i></button>
    
            <span *ngFor="let p of totalPages; let i = index">
                <a style="cursor: pointer;" (click)="setPage(i)" [ngClass]="{'text-primary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
            </span>
    
            <button class="btn btn-sm forward" (click)="forward()"><i class="fas fa-angle-double-right fa-2x"></i></button>
            
        </div>

</div>