<div class="title-header">

    <h3 class="titulo">RESERVAS</h3>
    
</div>

<div class="container col-md-9">

    <div class="botones">
        <button (click)="Crear()" class="btn create float-right m-1"><i class="fas fa-plus"></i></button>
    </div>

    <div class="size">
        <p style="text-align: center; margin-bottom: 0%; font-weight: 600; color: #66403b;">Reservas a mostrar:</p>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(5)">4</button>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(10)">8</button>
        <button  class="btn setSize m-1" style="cursor: pointer;" (click)="setSize(15)">16</button>
    </div>

    <div class="paginacion">
        <table>
            <tr>
                <td (click)="setOrder('id')">ID</td>
                <td (click)="setOrder('usuario.nombre')">Nombre</td>
                <td (click)="setOrder('usuario.apellidos')">Apellidos</td>
                <td (click)="setOrder('pension.tipo')">Pensión</td>
                <td (click)="setOrder('habitacion.tipohabitacion.nombre')">Habitación</td>
                <td (click)="setOrder('fecha_llegada')">Fecha llegada</td>
                <td (click)="setOrder('fecha_final')">Fecha final</td>
                <td (click)="setOrder('precio_final')">Precio</td>
                <td (click)="sort()"><i class="fas fa-sort"></i></td>
            </tr>
        </table>
    </div>
    
    <div class="card m-1 mt-5" *ngFor="let reserva of reservas">


        <div class="card-header">
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>USUARIO</th>
                        <th>PENSIÓN</th>
                        <th>HABITACIÓN</th>
                        <th>CAMA SUPLETORIA</th>
                        <th>FECHA LLEGADA</th>
                        <th>FECHA FINAL</th>
                        <th>PRECIO FINAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>{{reserva.id}}</td>
                        <td>{{reserva.usuario.nombre}}, {{reserva.usuario.apellidos}}</td>
                        <td>{{reserva.pension.tipo}}</td>
                        <td>{{reserva.habitacion.tipohabitacion.nombre}}</td>
                        <td><span *ngIf="reserva.cama_supletoria == true">Sí</span><span *ngIf="reserva.cama_supletoria == false">No</span></td>
                        <td>{{reserva.fecha_llegada | date: 'dd/MM/yyyy'}}</td>
                        <td>{{reserva.fecha_final | date: 'dd/MM/yyyy'}}</td>
                        <td>{{reserva.precio_final}}€</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">

            <button (click)="View(reserva)"class="btn view m-1"><i class="fas fa-eye"></i></button>
            <button (click)="Editar(reserva)"class="btn edit m-1" *ngIf="esAdministrador()"><i class="fas fa-edit"></i></button>
            <button (click)="Delete(reserva)"class="btn delete1 m-1" *ngIf="esAdministrador()"><i class="fas fa-trash-alt"></i></button>

        </div>
    </div>

    <div class="page_footer">

        <div class="botones" *ngIf="esAdministrador()">
            <button (click)="descargarPDF()" class="btn pdf m-1">Descargar PDF</button>
        </div>

        <div class="paginar">
            <button class="btn btn-sm rewind" (click)="rewind()"><i class="fas fa-angle-double-left fa-2x"></i></button>
    
            <span *ngFor="let p of totalPages; let i = index">
                <a style="cursor: pointer;" (click)="setPage(i)" [ngClass]="{'text-primary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
            </span>
    
            <button class="btn btn-sm forward" (click)="forward()"><i class="fas fa-angle-double-right fa-2x"></i></button>
            
        </div>
        
    </div>

</div>