<div class="title-header">

  <h3 class="titulo">EDITAR PENSION {{this.pension.tipo}}</h3>
  
</div>

<div class="container col-md-6">
  
  <div class="botones">
    <button (click)="Volver()" class="btn volver float-right m-1"><i class="fas fa-arrow-alt-left"></i></button>
  </div>

  <div class="card form-card">
    <div class="card-header form-header">
      
    </div>
    <div class="card-body form-body">

      <form [formGroup]="formEditPension" class="form">
        <div class="form-group">

          <label for="tipo" class="ml-4 mr-2 mt-1">Tipo de pension:</label>
          <input type="tipo" class="form-control-sm col-3 ml-3 mr-5" formControlName="tipo" name="tipo" [(ngModel)]="pension.tipo"
            placeholder="Tipo" required="required"/>

          </div>

          <div class="form-group">

          <label for="descripcion" class="ml-4 mr-2 mt-1">Descripcion:</label>
          <input type="descripcion" class="form-control-sm col-4 ml-5 mr-5" formControlName="descripcion" name="descripcion" [(ngModel)]="pension.descripcion"
            placeholder="descripcion" required="required"/>

          </div>

          <div class="form-group">

          <label for="precio" class="ml-4 mr-5 mt-1">Precio:</label>
          <input type="precio" class="form-control-sm col-3 ml-5 mr-1" formControlName="precio" name="precio" [(ngModel)]="pension.precio"
            placeholder="precio" required="required"/> €

          </div>
        </form>
      </div>
      
      <div class="card-footer form-footer">
        
        <button (click)="activarComponente()" class="btn guardar float-right m-1"><i class="fas fa-save"></i></button>

  </div>

  
</div>
  
</div>